/* Write your CSS here */
.prime-image {
  height: 300px;
  width: 100%;
}
.bg-container {
  background-color: #000000;
}
.action-movies-container {
  padding: 10px;
}
.movie-heading {
  color: #ffffff;
  font-family: roboto;
}
